.footer {
    padding: 100px 0px;
    background: #d5d5d5;

    @media(max-width:768px) {
        padding: 60px 0px;
    }

    @media(max-width:500px) {
        padding: 40px 0px;
    }

    &-social {

        @media(max-width: 996px) {
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin-bottom: 40px;
        }

        @media(max-width: 650px) {
            flex-direction: column;
            text-align: center;
        }

        &__logo {
            display: block;
            margin-bottom: 16px;
        }

        &__text {
            max-width: 320px;
            margin-bottom: 24px;
        }

        &__mess {

            &__fb {
                margin-right: 28px;

                & img {
                    transition: 0.5s ease;
                    &:hover {
                        transform: scale(1.2);
                    }
                }
            }

            &__twit {
                margin-right: 28px;
                
                & img {
                    transition: 0.5s ease;
                    &:hover {
                        transform: scale(1.2);
                    }
                }

                
            }

            &__insta {
                & img {
                    transition: 0.5s ease;
                    &:hover {
                        transform: scale(1.2);
                    }
                }
            }
        }
    }

    &-info {
        display: flex;
        justify-content: space-between;

        @media(max-width: 996px) {
            justify-content: space-around;
        }

        @media(max-width: 650px) {
            text-align: center;
            gap: 20px;
        }

        &__list {
           
            &__title {
                display: block;
                font-weight: 600;
                font-size: 18px;
                line-height: 22px;
                text-transform: capitalize;
                color: #0E1735;
                margin-bottom: 24px;
                transition: 0.3s ease;

                &:hover {
                  color:  #488fe0;
                }              
            }

            &__text {
                display: block;
                font-weight: 400;
                font-size: 14px;
                line-height: 18px;
                text-transform: capitalize;
                color: #888B97;
                margin-bottom: 18px;
                transition: 0.3s ease;

                &:hover {
                    color: #7c96eb;
                }
            }
        }

        &__list li {
            @media(max-width: 650px) {
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                overflow: hidden;   
            }
        }
    }
}

