.main__start {
    margin-bottom: 200px;
    display: flex;

    @media(max-width:1100px) {
        flex-direction: column;
        align-items: center;
    }

    @media(max-width: 900px) {
        margin-bottom: 120px;
    }

}

.main__bg {

    &__blur {
        background: url(/src/images/bg/Color\ Blur.png);
        background-repeat: no-repeat;
        background-size: contain;
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        
    }

    &__house {
        position: absolute;
        z-index: -1;
        top: 0;
        right: 0;
    }
}

.main__information {
    max-width: 500px;
    padding-right: 50px;

    @media(max-width:1100px) {
        padding: 0;
        margin-bottom: 50px;
    }

    @media(max-width:500px) {
        max-width: max-content;
    }

    &__title {
        font-weight: 600;
        font-size: 40px;
        color: #1B1C57;
        margin-bottom: 24px;
        text-transform: capitalize;

        @media(max-width:600px) {
            font-size: 30px;
        }
    }

    &__title span{
        color: transparent; /* Цвет текста */
        -webkit-text-stroke: 1px #1B1C57; /* Толщина и цвет обводки */
        // padding: 0px 20px;
    }

    &__text {
        color: #626687;
        font-size: 16px;
        opacity: 0.7;
        margin-bottom: 32px;
    }

    &__input {
        height: 56px;
        // position: relative;
        // z-index: 2;
        width: 100%;
        background: #FFFFFF;
        border: 1px solid #E0E3EB;
        border-radius: 32px;
        display: flex;
        align-items: center;
        gap: 16px;
        margin-bottom: 32px;

        @media(max-width:600px) {
            justify-content: space-between;
            padding-left: 15px;
        }

        @media(max-width:375px) {
            padding-left: 10px;
         }

        &__location {
          padding: 17px 0px 17px 24px;

          @media(max-width:600px) {
            display: none;
            }
        }

        &__text {
            width: 300px;
            max-width: 100%;
            border: transparent;
            padding: 17px 0px;
            outline: none;

            @media(max-width:600px) {
                padding: 0;
                max-width: 200px;
                width: 100%;
            }
        }

        &__btn {
            transition: 0.5s ease;
            background-color: #10B981;
            height: 100%;
            white-space: nowrap;
            display: inline-block;
            text-align: center;
            padding: 12px 24px;
            border-radius: 32px;
            font-weight: 600;    
            color: #FFFFFF;
            
            &:hover {
                background-color: #488fe0;
            }

            @media(max-width:375px) {
                display: inline-flex;
                align-items: center;
                padding: 12px 10px;
            }
  
        }

        &__btn span{
            vertical-align: middle;

            @media(max-width:375px) {
                display: none;
            }
        }
    }

    &__subtext {
    }

    &__partner {
        transition: 0.3s ease;
        display: flex;
        align-items: center;
        gap: 32px;

        &__picture {
            transition: 0.5s ease;

            &:hover {
                transform: scale(1.2);
            }
        }
    }
}

.main__house {
    padding-left: 50px;
    display: flex;
    align-items: flex-end;
    margin-right: -250px;
    // overflow: hidden;

    @media(max-width:1100px) {
        padding: 0;
        margin: 0;
    }

    &__bg {
        width: 100%;
        position: absolute;
        z-index: -1;
        top: 0;

        @media(max-width:1100px) {
            display: none;
        }
    }

    &__items {
        display: flex;
            flex-direction: row;
            padding-left: 50px;

            @media(max-width:1100px) {
                padding: 0;
            }

            @media(max-width:768px) {
               flex-direction: column;
               margin-right: 0;
               gap: 20px;
            }

        &__item {
            max-width: 100%;
            display: flex;
            align-items:center;
            background: #FFFFFF;
            -webkit-box-shadow: 0px 0px 20px 10px rgba(49, 106, 150, 0.2);
            -moz-box-shadow: 0px 0px 20px 10px rgba(49, 106, 150, 0.2);
            box-shadow: 0px 0px 20px 10px rgba(49, 106, 150, 0.2);
            border-radius: 32px;
            padding: 24px;
            margin-right: 16px;

            @media(max-width:768px) {
                margin-right: 0;
             }

            &-picture {
                flex: 1 0 auto;
                max-height: 60px;
                margin-right: 16px;
            }

            &-group {
                flex: 0 0 152px;
                max-width: 152px;

                &-title {
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 24px;
                    color: #1B1C57;
                    margin-bottom: 2px;
                }

                &-subtitle {
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 20px;
                    color: #68799F;
                }
            }
        }
    }
}

.main-recommendation {
    position: relative;
    margin-bottom: 120px;
    padding-left: 40px;

    @media(max-width:800px) {
        padding-left: 0;
    }

    &__title {
        position: relative;
        z-index: 2;
        display: flex;
        align-items: center;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        text-transform: capitalize;
        color: #F59E0B;
        margin-bottom: 12px;

        @media(max-width: 800px) {
            justify-content: center;
        }

        &__line {
            position: absolute;
            z-index: 5;
            width: 32px;
            height: 2px;
            background-color: #F59E0B;
            left: -40px;
            
            @media(max-width: 800px) {
                top: -10px;
                left: auto;
            }  
        }
    }

    &-group {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 40px;

        &__subtitle {
            font-weight: 600;
            font-size: 32px;
            line-height: 40px;
            text-transform: capitalize;
            color: #1B1C57;

            @media(max-width: 800px) {
                margin-bottom: 20px;
            }

            @media(max-width: 500px) {
                font-size: 30px;
            }
        }

        &__list {
            gap: 25px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            &__btn {
                color: #888B97;
                transition: 0.5s ease;
                white-space: nowrap;
                display: inline-block;
                // vertical-align: middle;
                text-align: center;
                padding: 12px 24px;
                background: #E0E3EB;
                border: 2px solid #E0E3EB;
                border-radius: 32px;
                font-weight: 600;

                & span {
                    margin-right: 8px;
                }

                &:hover {
                    background: #D1FAE5;
                    color: #10B981;
                  }

                //   &-active {
                //     background: #D1FAE5;
                //     color: #10B981;
                //   }
            }

            @media(max-width: 500px) {
                flex-direction: column;
                gap: 10px;
            }
        }

        @media(max-width: 800px) {
            flex-direction: column;
        }
    }

    
}



.swiper-container {
}

.arrows {
    display: flex;
    align-items: center;
    gap: 20px;

    @media(max-width: 900px) {
        position: absolute;
        z-index: 5;
        top: 50%;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}


.swiper-button-prev-recommend {
    cursor: pointer;
    position: relative;
    width: 45px;
    height: 45px;
    background: #bcbdc2;
    border-radius: 32px;
    color: #3C4563;
    transition: 0.5s ease;

    &:hover {
        background: #10B981;
        color: #FFFFFF;
    }

    @media(max-width: 900px) {
        left: 0;
    }

    @media(max-width: 800px) {
        left: 0;
    }
}

.swiper-button-prev-recommend span::after{
    content: "<";
    position: absolute;
    z-index: 5;
    transform: translate(-50%, -30%);
    top: 0;
    right: 0;
    display: inline-block;
    font-size: 45px;
    height: 45px;
}

.swiper-button-next-recommend {
    cursor: pointer;
    position: relative;
    width: 45px;
    height: 45px;
    background: #bcbdc2;
    border-radius: 32px;
    color: #3C4563;
    transition: 0.5s ease;

    &:hover {
        background: #10B981;
        color: #FFFFFF;
    }

    @media(max-width: 900px) {
        left: -45px;
    }

    @media(max-width: 800px) {
        left: 0;
    }
}

.swiper-button-next-recommend::after {
    content: ">";
    position: absolute;
    z-index: 5;
    transform: translate(-50%, -30%);
    top: 0;
    right: 0;
    display: inline-block;
    font-size: 45px;
    height: 45px;
}

.swiper-slide {
    cursor: pointer;
    // max-width: 400px;
    // padding: 0px 20px;
    // width: 100%;


    &__picture {
        margin-bottom: 24px;

        
            @media(max-width:600px) {
                text-align: center;
            }

            & img {
                @media(max-width:900px) {
                    width: 100%;
                }

                @media(max-width:600px) {
                    width: auto;
                }
            }
        
    }

    &__text {
        margin-bottom: 24px;

        &__title {
            font-weight: 500;
            font-size: 24px;
            line-height: 32px;
            color: #0E1735;
            margin-bottom: 8px;
        }

        &__price {
            font-weight: 500;
            font-size: 20px;
            line-height: 32px;
            color: #3C4563;
        }

        @media(max-width:600px) {
            text-align: center;
        }
    }

    &__person {
        display: flex;
        align-items: center;

        &__icon {
            margin-right: 16px;
        }

        &__info {

            &__name {
                font-weight: 500;
                font-size: 18px;
                line-height: 24px;
                color: #0E1735;
            }

            &__location {
                font-weight: 500;
                font-size: 14px;
                line-height: 22px;
                color: #888B97;
            }
        }

        @media(max-width:600px) {
            justify-content: center;
        }
    }
}

.main-sell {
    margin-bottom: 120px;
    position: relative;
    z-index: 2;
    padding-left: 40px;

   @media(max-width: 800px) {
    padding-left: 0;
   }

    &__content {

        @media(max-width:1170px) {
            margin-bottom: 50px;
            text-align: center;
        }

        @media(max-width:900px) {
            text-align: left;
        }

        &__title {
            position: relative;
            z-index: 2;
            display: flex;
            align-items: center;
            font-weight: 500;
            font-size: 14px;
            line-height: 18px;
            text-transform: capitalize;
            color: #f59e0b;
            margin-bottom: 12px;

            @media(max-width:800px) {
                justify-content: center;
            }

            &__line {
                position: absolute;
                z-index: 5;
                width: 32px;
                height: 2px;
                background-color: #f59e0b;
                left: -40px;

                @media(max-width:800px) {
                    top: -10px;
                    left: auto;
                }
            }
        }

        &__subtitle {
            font-weight: 600;
            font-size: 32px;
            line-height: 40px;
            text-transform: capitalize;
            color: #1B1C57;
            margin-bottom: 16px;

            @media(max-width:1170px) {
                margin-bottom: 0;
            }

            @media(max-width:800px) {
                text-align: center;
            }

            @media(max-width:600px) {
                margin-bottom: 10px;
            }
        }

        &__text {
            font-weight: 400;
            font-size: 16px;
            line-height: 28px;
            color: #626687;
            opacity: 0.75;
            margin-bottom: 16px;

            @media(max-width:800px) {
                text-align: center;
            }
        }

        &__detail {
            font-size: 16px;
            line-height: 28px;
            color: #1B1C57;
            opacity: 0.75;
            margin-bottom: 16px;

            @media(max-width:800px) {
                text-align: center;
            }
        }

        &__things {
            display: flex;
            align-items: center;
            gap: 50px;
            padding-bottom: 32px;
            margin-bottom: 66px;
            border-bottom: 2px solid #F0F3FD;;

            

            &__one li{
                margin-bottom: 16px;
            }

            &__two li{
                margin-bottom: 16px;
            }

            @media(max-width:1170px) {
                justify-content: center;

                & ul {
                    text-align: start;
                }
            }

            @media(max-width:900px) {
                justify-content: flex-start;
            }

            @media(max-width:800px) {
                justify-content: center;
            }

            @media(max-width:425px) {
                flex-direction: column;
                justify-content: center;
                gap: 0;
            }

            
        }

        &__contact {
            display: flex;
            align-items: center;

            @media(max-width:1170px) {
                justify-content: center;
            }

            @media(max-width:900px) {
                justify-content: start;
            }

            @media(max-width:800px) {
                justify-content: center;
            }

            @media(max-width:500px) {
                flex-direction: column;
            }
            

            &__person {
                margin-right: 24px;

                @media(max-width:500px) {
                    margin-right: 0;
                }
            }

            &__group {
                margin-right: 50px;

                @media(max-width:500px) {
                    margin-right: 0;
                    margin-bottom: 20px;
                }

                &__name {
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 24px;
                    color: #0E1735;
                    margin-bottom: 4px;

                    @media(max-width:500px) {
                        margin-bottom: 0;
                    }
                }

                &__position {
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 24px;
                    color: #888B97;
                }
            }

            &__button {
                transition: .5s;
                background-color: #10b981;
                height: 100%;
                white-space: nowrap;
                display: inline-block;
                text-align: center;
                border-radius: 32px;
                font-weight: 600;
                color: #fff;
                padding: 12px 16px;

                & span {
                    vertical-align: middle;
                    margin-right: 16px;
                }

                &:hover {
                    background-color: #488fe0;
                }
            }
        }
    }

    &__video {
            

        & img {
            transition: 0.5s ease;
            cursor: pointer;
            -webkit-box-shadow: 10px 11px 20px 5px rgba(240, 226, 55, 0.11);
            -moz-box-shadow: 10px 11px 20px 5px rgba(240, 226, 55, 0.11);
            box-shadow: 10px 11px 20px 5px rgba(240, 226, 55, 0.11);

            @media(max-width:1170px) {
                width: 100%;
            }

            &:hover {
                transform: scale(1.05);
            }
        }
        
        
    }
}

.main-review {
    position: relative;
    padding-bottom: 150px;
    margin-bottom: 50px;

    @media(max-width: 550px) {
        padding-bottom: 100px;
    }

    @media(max-width: 425px) {
        padding-bottom: 70px;
    }

    &__title {
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        text-align: center;
        text-transform: capitalize;
        color: #F59E0B;
        margin-bottom: 12px;

        &__line {
            margin: 0 auto;
            width: 32px;
            height: 2px;
            background: #F59E0B;
            margin-bottom: 8px;
        }
    }

    &__subtitle {
        font-weight: 600;
        font-size: 32px;
        line-height: 40px;
        text-align: center;
        text-transform: capitalize;
        color: #1B1C57;
        margin-bottom: 40px;
    }

    &__swiper {
        position: relative;
        z-index: 2;
        max-width: 740px;
        width: 100%;
        margin: 0 auto;
    }

    &__picture {
        position: relative;
        z-index: 2;
    }

    &__info {
        position: absolute;
        z-index: 5;
        background: #FFFFFF;
        box-shadow: 0px 9px 32px rgba(89, 92, 219, 0.05);
        border-radius: 16px;
        padding: 32px;
        max-width: 600px;
        width: 100%;
        max-height: 250px;
        transform: translate(-50%, 0);
        left: 50%;
        bottom: -100px;

        @media(max-width: 700px) {
            max-width: 450px;
            height: 200px;
            padding: 26px;
            overflow-y: scroll;
        }

        @media(max-width: 550px) {
            max-width: 350px;
            height: 150px;
            bottom: -60px;
            padding: 20px;
        }

        @media(max-width: 425px) {
            max-width: 250px;
            height: 100px;
            bottom: -40px;
            padding: 15px;
        }

        &__title {
            font-weight: 600;
            font-size: 20px;
            line-height: 25px;
            text-transform: capitalize;
            color: #1B1C57;
            margin-bottom: 16px;

            @media(max-width: 550px) {
                font-size: 18px;
            }

            @media(max-width: 425px) {
                font-size: 16px;
                margin-bottom: 10px;
            }
        }

        &__text {
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            color: #626687;
            opacity: 0.75;
            margin-bottom: 24px;

            @media(max-width: 425px) {
                font-size: 16px;
                margin-bottom: 15px;
            }
        }

        &__about {
            display: flex;
            align-items: center;
            justify-content: space-between;

            @media(max-width: 425px) {
                flex-direction: column;
                align-items: flex-start;
            }

            &__wrapper {
                display: flex;
                align-items: center;

                @media(max-width: 425px) {
                    margin-bottom: 5px;
                }
            }

            &__person {
                margin-right: 24px;
            }

            &__group {

                &__name {
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 22px;
                    color: #0E1735;
                    margin-bottom: 4px;
                }

                &__prof {
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 22px;
                    color: #888B97;
                }
            }

            &__stars {
                display: flex;
                align-items: center;

                &__item {
                    margin-right: 20px;
                }

                &__number {
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 28px;
                    color: #3C4563;
                }
            }
        }
    }
}

.main-partnership {
    margin-bottom: 120px;

    &__title {
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        text-align: center;
        text-transform: capitalize;
        color: #F59E0B;
        margin-bottom: 12px;

        @media(max-width:900px) {
            margin-bottom: 30px;
        }

        &__line {
            margin: 0 auto;
            width: 32px;
            height: 2px;
            background: #F59E0B;
            margin-bottom: 8px;

        }
    }

    &__subtitle {
        font-weight: 600;
        font-size: 32px;
        line-height: 40px;
        text-align: center;
        text-transform: capitalize;
        color: #1B1C57;
        max-width: 500px;
        margin: 0 auto;
        margin-bottom: 24px;

        @media(max-width:900px) {
            text-align: center;
            max-width: max-content;
            margin-bottom: 10px;
        }
    }

    &__btn {
        margin: 0 auto 50px;
        display: flex;
        justify-content: center;

        & a {
            transition: .5s;
            background-color: #10b981;
            height: 100%;
            white-space: nowrap;
            display: inline-block;
            text-align: center;
            border-radius: 32px;
            font-weight: 600;
            color: #fff;
            padding: 12px 16px;
    
            &:hover {
                background-color: #488fe0;
            }
        }
    } 

    &__content {
    
        &__items {

            &__item {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                margin-bottom: 40px;

                @media(max-width:1170px) {
                    justify-content: flex-start;
                }

                @media(max-width:700px) {
                    flex-direction: column;
                    align-items: flex-start;
                }

                &__picture {
                    margin-right: 32px;

                    @media(max-width:700px) {
                        margin-right: 0;
                        margin-bottom: 25px;
                    }

                    & img {
                        max-width: max-content;

                        
                    }
                }

                &__group {

                    &__person {
                        display: flex;
                        align-items: center;
                        margin-bottom: 18px;

                        & img {
                            margin-right: 16px;
                            
                        }

                        & span {
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 22px;
                            color: #3C4563;
                        }
                    }

                    &__title {
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 32px;
                        text-transform: capitalize;
                        color: #1B1C57;
                        margin-bottom: 16px;

                        @media(max-width:700px) {
                            margin-bottom: 10px;
                        }

                    }

                    &__info {
                        display: block;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 24px;
                        color: #888B97;

                        & img {
                            margin-right: 12px;
                            vertical-align: middle;
                        }
                    }
                }
            }
        }

        &__wrap {

            @media(max-width:1170px) {
                text-align: center;
            }

            &__picture {
                margin-bottom: 24px;

                & img {
                    @media(max-width:1170px) {
                        width: 100%;
                        height: 400px;
                        object-fit: fill;
                    }

                    @media(max-width:700px) {
                        width: 100%;
                        height: 100%;
                        object-fit: fill;
                    }
                }
            }
    
            &__person {
                display: block;
                margin-bottom: 17px;
                font-weight: 400;
                font-size: 14px;
                line-height: 22px;
                color: #3C4563;

                @media(max-width:700px) {
                    text-align: left;
                }

                & img {
                    vertical-align: middle;
                    margin-right: 16px;
                }
            }
    
            &__title {
                font-weight: 500;
                font-size: 24px;
                line-height: 32px;
                text-transform: capitalize;
                color: #1B1C57;
                margin-bottom: 12px;

                @media(max-width:1170px) {
                    margin-bottom: 0;
                }

                @media(max-width:700px) {
                    margin-bottom: 10px;
                    text-align: left;
                }
            }
    
            &__text {
                font-weight: 400;
                font-size: 14px;
                line-height: 24px;
                color: #626687;
                opacity: 0.75;
                margin-bottom: 16px;

                @media(max-width:1170px) {
                    margin-bottom: 20px;
                }

                @media(max-width:700px) {
                    text-align: left;
                }
            }
    
            &__info {
                display: block;
                font-weight: 400;
                font-size: 14px;
                line-height: 24px;
                color: #888B97;

                @media(max-width:700px) {
                    text-align: left;
                }

                & img {
                    vertical-align: middle;
                    margin-right: 12px;
                }
            }
        }
    }

    
}

.main-subscribe {
    margin-bottom: 60px;

    &__bg {
        position: relative;
        z-index: 2;
        background: url(/src/images/bg/sub-bg-main.png);
        width: 100%;
        height: 100%;
        padding: 65px 0px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 32px;

        @media(max-width: 600px) {
            padding: 40px 20px;
        }

        &__picture1 {
            position: absolute;
            z-index: 5;
            left: 3%;
        }

        &__picture2 {
            position: absolute;
            z-index: 5;
            top: 3%;
            left: 15%;
        }

        &__picture3 {
            position: absolute;
            z-index: 5;
            bottom: 5%;
            left: 8%;
        }

        &__picture4 {
            position: absolute;
            z-index: 5;
            bottom: 35%;
            left: 20%;
        }

        &__picture5 {
            position: absolute;
            z-index: 5;
            top: 3%;
            right: 15%;
        }

        &__picture6 {
            position: absolute;
            z-index: 5;
            bottom: 3%;
            right: 15%;
        }

        &__picture7 {
            position: absolute;
            z-index: 5;
            right: 5%;
        }

        &__picture8 {
            position: absolute;
            z-index: 5;
            right: 2%;
            bottom: 10%;
        }

        @media(max-width:996px) {
            &__picture1, &__picture2, &__picture3, &__picture4, &__picture5, &__picture6, &__picture7, &__picture8{
                display: none;
            }
        }
    }

    &__content {
        max-width: 500px;
        margin: 0 auto;

        @media(max-width: 600px) {
            max-width: max-content;
        }

        &__title {
            position: relative;
            z-index: 10;
            font-weight: 600;
            font-size: 32px;
            line-height: 48px;
            text-align: center;
            text-transform: capitalize;
            color: #1B1C57;
            margin-bottom: 32px;

            @media(max-width: 600px) {
                font-size: 22px;
                line-height: 120%;
            }
        }

        &__form {
            position: relative;
            z-index: 10;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            background: #FFFFFF;
            box-shadow: 0px 9px 32px rgba(89, 92, 219, 0.05);
            border-radius: 32px;
            padding-left: 32px;

            @media(max-width: 425px) {
                padding-left: 15px;
            }

            &__group {
                display: flex;
                flex: 0 0 300px;

                @media(max-width: 600px) {
                    flex: 1 0 auto;
                }

                
                
                &__mail {
                    margin-right: 16px;

                    
                    @media(max-width: 600px) {
                            display: none;
                        }
                  
                }
    
                &__input {
                    max-width: 100%;
                    width: 100%;
                    border: transparent;
                    padding: 15px 0;
                    outline: 0;

                    @media(max-width: 600px) {
                        padding-right: 32px;
                    }

                    @media(max-width: 425px) {
                        padding: 0;
                        padding-right: 10px;
                    }

                    @media(max-width: 375px) {
                        max-width: 130px;
                    }
                }
            }   

            &__btn {
                transition: .5s;
                background-color: #10b981;
                height: 100%;
                white-space: nowrap;
                display: inline-block;
                text-align: center;
                border-radius: 32px;
                font-weight: 600;
                color: #fff;
                padding: 13px 16px;

                &:hover {
                    background-color: #488fe0;
                }

                @media(max-width: 425px) {
                    padding: 13px 5px;
                }

            }
        }
    }
}


.ui__btn-active {
    transition: 0.5s ease;
    white-space: nowrap;
    display: inline-block;
    // vertical-align: middle;
    text-align: center;
    padding: 12px 24px;
    background: #D1FAE5;
    border-radius: 32px;
    color: #047857;
    font-weight: 600;
  
    &:hover {
      background-color: #10b981;
      color: #fff;
    }
  }
  
  
.ui__btn-pasive {
    transition: 0.5s ease;
    height: 42px;
    white-space: nowrap;
    display: inline-block;
    // vertical-align: middle;
    text-align: center;
    padding: 8px 16px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 32px;
    color: #F0F3FD;
    font-weight: 600;
  
    &:hover {
      background-color: #10b981;
      color: #fff;
    }
  }
  
  
